[Unit]
Description=Adlamin Initializer
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/adlamin-cli start_up
ExecReload=/usr/local/bin/adlamin-cli start_up
StandardOutput=journal+console
StandardError=journal+console
RemainAfterExit=yes

[Install]
WantedBy=default.target