[Unit]
Description=Clean up adlamin files after reboot

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/sbin/adlamin-cli clean_up

[Install]
WantedBy=multi-user.target