[Unit]
Description=Expires http clients of protected adlamin applications every hour

[Timer]
OnActiveSec=1h
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target