[Unit]
Description=Remover clientes expirados
After=adlamin-start_up.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/bin/adlamin-cli expire_clients
[Install]
WantedBy=default.target