[Unit]
Description=Remover clientes expirados
After=adlamin-start_up.service

[Timer]
OnActiveSec=1h
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target