[Unit]
Description=Loads docker images into local registry
After=adlamin-start_up.service

[Service]
Type=simple
ExecStart=/usr/local/bin/load_docker_images

[Install]
WantedBy=default.target