[Unit]
Description=Loads docker images every minute
After=adlamin-start_up.service

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
Persistent=true

[Install]
WantedBy=timers.target