[Unit]
Description=Runs pending adlamin commands
After=adlamin-start_up.service
Requires=adlamin-start_up.service
Conflicts=run-pending-commands.service auto-scale.service

[Service]
Type=simple
ExecStart=/usr/local/bin/run_pending_commands

[Install]
WantedBy=default.target