[Unit]
Description=Cd utils para deployar
After=adlamin-start_up.service

[Timer]
OnActiveSec=10s
OnUnitActiveSec=10s

[Install]
WantedBy=timers.target