[Unit]
Description=Runs adlamin commands every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=10s
Unit=run-pending-commands.service

[Install]
WantedBy=timers.target