[Unit]
Description=Saves adlamin stats
After=adlamin-start_up.service
Requires=adlamin-start_up.service
Conflicts=save-stats.service

[Service]
Type=simple
ExecStart=/usr/local/bin/adlamin-cli save_stats

[Install]
WantedBy=default.target