[Unit]
Description=Initializer for adlamin deploy service
After=docker.service

[Service]
User=root
Type=oneshot
ExecStart=/usr/local/sbin/adlamin --action=initialize
ExecReload=/usr/local/sbin/adlamin --action=initialize
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target