[Unit]
Description=Initializer for adlamin deploy service
After=docker.service
BindsTo=docker.service
ReloadPropagatedFrom=docker.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 2
ExecStart=/usr/local/sbin/adlamin --action=initialize
ExecReload=/usr/local/sbin/adlamin --action=initialize
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target