[Unit]
Description=Initializer for adlamin deploy service
After=docker.service
PartOf=docker.service

[Service]
User=root
ExecStart=/usr/local/sbin/adlamin --action=initialize

[Install]
WantedBy=docker.service