[Unit]
Description=Cd default infra (docker registry, dmz reverse proxy)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStartPre=/bin/sleep 10
ExecStart=/root/default-infrastructure

[Install]
WantedBy=multi-user.target