[Unit]
Description=Cd utils para deployar
After=network.target

[Service]
Type=oneshot
User=root
ExecStartPre=/bin/bash -c 'touch /run/cd-utils-lock'
ExecStart=/bin/bash -c 'test ! -f /run/cd-utils-lock || /usr/local/sbin/run_pending_deploys'
ExecStop=/bin/rm -f /run/cd-utils-lock

[Install]
WantedBy=multi-user.target